*{
 box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

.grid{
    display: grid;
    height: 574px;
    width: 300px;
    background-image: url(images/bg_mobile.png);
    text-align: center;
    grid-template-rows: 1fr 4fr 1fr;
}



.info{
  background-color: black;
  color: white;
}

.info h2{
  font-size: 1em;
}

.info p{
  font-size: 0.5em;
}

footer{
  display: none;
}

